* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background-color: grey;
  font-family: 'Manrope', sans-serif;
  --main-padding: 0px 33px;
  --main-width: 320px;
  --v-dark-grey-blue: hsl(217, 19%, 35%);
}
body {
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
}
.banner {
  overflow: hidden;
  height: 220px;
  background-image: url('../images/drawers.jpg');
  background-position: center top;
  background-size: 100% 120%;
  border-radius: 10px 10px 0px 0px;
}
main {
  margin-top: 40px; 
}
.text {
  margin-bottom: 30px;
  padding: var(--main-padding);
}
.text-title {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--v-dark-grey-blue);
}
.text-body {
  font-size: 13px;
  line-height: 1.4;
  color: hsl(214, 17%, 51%);
}
.bar {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-padding);
  border-radius: 0px 0px 10px 10px;
}
.author-img {
  width: 15%;
  border-radius: 100%;
}
.name-date {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding: 2px 15px; 
}
.author-name {
  font-size: 13px;
  margin-bottom: 5px;
  color: var(--v-dark-grey-blue);
}
.date {
  font-size: 13px;
  color: hsl(212, 23%, 69%);
}
.arrow-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: hsl(0 0% 90%);
  border-radius: 100%;
}
.bar-2 {
  display: none;
  background-color: var(--v-dark-grey-blue);
  justify-content: space-between;
}
.triangle {
  display: none;
}
.share {
  color: white;
  letter-spacing: 4px;
  margin-right: 10px;
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}
.social {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.social-icon-img {
  margin-right: 0px;
}
.arrow-img-container.dark {
  background-color: hsl(214, 17%, 51%);
}
.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 720px) {
  body {
    flex-direction: row;
    width: 720px;
    height: 270px;
  }
  .banner {
    width: 40%;
    height: unset;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 10px;
  }
  main {
    margin-top: 30px;
  }
  .text {
    margin-bottom: 10px;
  }
  .text-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .author-img {
    width: 10%;
  }
  .author-name {
    margin-bottom: 0px;
  }
  .bar-2 {
    display: none;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 30px;
    height: 40px;
    top: 150px;
    right: 26px;
    align-items: center;
  }
  .social {
    width: 108px;
    margin-right: 0px;
  }
  .triangle {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background-color: var(--v-dark-grey-blue);
    left: 105px;
    bottom: -10px;
    transform: rotate(45deg);
  }
}

